<!DOCTYPE html>
<html>
    <head>
        <title>FFMMS Login</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet" />

        <link href="{{ url_for('static',filename='assets/img/rain.png')}}" rel="icon" />

        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-storage.js"></script>
       

    </head>

    <body>
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <div class="card1 pb-5">
                            <div class="row"> <h1 class="logo">FFMMS</h1></div>
                            <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="{{ url_for('static',filename='img/img-01.png')}}" class="image"> </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card2 card border-0 px-4 py-5">
                            
                            <div class="row px-3 mb-4">
                                <div class="line"></div> <small class="or text-center" style="font-size: 15px; margin-top: 128px;">WELCOME</small>
                                <div class="line"></div>
                            </div>
                            <div class="row px-3"> <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Email Address</h6>
                                </label> <input class="mb-4" type="text" id="email" name="email" placeholder="Enter your email address"> </div>
                            <div class="row px-3"> <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Password</h6>
                                </label> <input type="password" id="psw" name="password" placeholder="Enter password"> </div>
                            <div class="row px-3 mb-4">
                                <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm" style="color: #1dc3cf;">Forgot Password?</a>
                            </div>
                        <div class="row mb-3 px-3"> <button type="submit" id="login" class="btn btn-blue text-center"></button>Login</button> </div>
                            <div class="row mb-4 px-3"> <small class="font-weight-bold" style="font-size: 13px;">Don't have an account? <a class="text-danger ">Register</a></small> </div>
                        </div>
                    </div>
                </div>
                <div class="bg-blue py-4">
                    <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2" style="font-size: 14px;">Copyright &copy; KDU FOC 2020. All rights reserved.</small></div>
                </div>
            </div>
        </div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="/__/firebase/7.16.1/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="/__/firebase/7.16.1/firebase-analytics.js"></script>
  
        <!-- Initialize Firebase -->
        <script src="/__/firebase/init.js"></script>
  
        <script src="{{ url_for('static',filename='js/index.js')}}"></script>
  
        <script>
        firebase.auth().onAuthStateChanged(function(Username)
        {
            if(Username)
            {
              window.location.href = "{{ url_for('home') }}"; 
            }
        });
        </script>

    </body>
</html>